<%- layout('/layouts/boilerplate.ejs') %>

    <body>
        <div class="row">

            <div class="col-8 offset-2">
                <h3>Listing Detsil:</h3>




                <img src="<%= showDetail.image %>" class="card-img-top show-img" alt="Listing Image">

                <div class="card-body">
                    <p class="card-text">
                        <b>
                            <%= showDetail.title %>
                        </b><br>

                        <%= showDetail.description %> <br>

                            <p>Rs.<%= showDetail.price %> <br></p>


                            <%= showDetail.location %> <br>

                                <%= showDetail.country %> <br>
                    </p>
                    <div class="row">
                        <div class="col1">
                            <a href="/listings/<%= showDetail._id %>/edit" class="btn edit-btn">Edit</a>
                        </div>
                        <div class="col-1">
                            <form action="/listings/<%= showDetail._id %>?_method=DELETE" method="post">
                                <button class="btn btn-dark btn-danger delete-btn">Delete </button>
                            </form>
                        </div>
                    </div>









                </div>

            </div>
        </div>
    </body>